html
  head
    title='萌萌计数器!'
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/png', href='favicon.png')
    //- https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css
    link(rel='stylesheet', href='light.min.css')
    link(rel='stylesheet', href='style.css')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-2RLWN5JXRL');

      function _evt_push(type, category, label){
        gtag('event', type, {
          'event_category' : category,
          'event_label' : label
        });
      }

  body
    h3 如何使用:
    p 将下方内容中的 <code>:name</code> 标签替换成你的专属标签
    p 将下方地址 <code>https://www.example.com</code> 替换成当前域名

    i 任何人都可以访问这个数据！
      | <span style="color: #ff4500;">不要</span>
      | 输入个人信息！！！

    h5 SVG 地址
    code https://www.example.com/get/@:name

    h5 Img 标签
    code &lt;img src="https://www.example.com/get/@:name" alt=":name" />

    h5 Markdown
    code ![:name](https://www.example.com/get/@:name)

    h3 演示:
      <img src="/get/@index" alt="Moe Count!" />

    i 使用专属标签可以 
      | <span style="color: #ff4500;">重置</span>
      | 计数信息！！！

    details
      summary(style='display: inline-block;', onclick='_evt_push("click", "normal", "more_theme")')
        h3(style='display: inline-block; cursor: pointer;') 更多主题
      p 只需使用查询参数 <code>theme</code>
      p 像这样: <code>https://www.example.com/get/@:name?theme=moebooru</code>
      h5 asoul
      img(src='/get/@demo?theme=asoul', alt='A-SOUL')
      h5 moebooru
      img(src='/get/@demo?theme=moebooru', alt='Moebooru')
      h5 moebooru-h
      img(src='/get/@demo?theme=moebooru-h', alt='Moebooru-Hentai')
      h5 rule34
      img(src='/get/@demo?theme=rule34', alt='Rule34')
      h5 gelbooru
      img(src='/get/@demo?theme=gelbooru', alt='Gelbooru')
      h5 gelbooru-h
      img(src='/get/@demo?theme=gelbooru-h', alt='Gelbooru-Hentai')

    //- h3 开发贡献
    //- ul
    //-   li
    //-     a(href='https://repl.it/', target='_blank', rel='nofollow') repl.it
    //-   li
    //-     a(href='https://www.asoulworld.com/', target='_blank', title='A-SOUL导航站(非官方)') A-SOUL
    //-   li
    //-     a(href='https://github.com/moebooru/moebooru', target='_blank', rel='nofollow') moebooru
    //-   li
    //-     a(href='javascript:alert("!!! NSFW LINK !!!\\nPlease enter the url manually")') rule34.xxx
    //-     |  NSFW
    //-   li
    //-     a(href='javascript:alert("!!! NSFW LINK !!!\\nPlease enter the url manually")') gelbooru.com
    //-     |  NSFW
    //-   li
    //-     a(href='https://icons8.com/icons/set/star', target='_blank', rel='nofollow') Icons8
    //-   li
    //-     a(href='https://github.com/skyle1995/Moe-counter-docker', target='_blank', rel='nofollow') skyle1995
    //-     | （汉化）

    h3 测试工具
    .tool
      code https://www.example.com/get/@
      input#name(type='text', placeholder=':name', style='display: inline-block; width: 80px; height: 1.4em; line-height: 1.4em; margin: 0 4px; vertical-align: middle;')
      code ?theme=
      select#theme(style='display: inline-block; height: 1.6em; line-height: 1.6em; font-size: 14px; margin: 0 4px; padding: 0 4px; vertical-align: middle;')
        option(value='asoul') asoul
        option(value='moebooru') moebooru
        option(value='moebooru-h') moebooru-h
        option(value='rule34') rule34
        option(value='gelbooru') gelbooru
        option(value='gelbooru-h') gelbooru-h
      button#get(style='margin: 10px 0;', onclick='_evt_push("click", "normal", "get_counter")') 测试
      img#result(style='display: block;')

      script.
        var btn = document.getElementById('get'),
            img = document.getElementById('result')

        btn.addEventListener('click', function() {
          var name = document.getElementById('name'),
              themeEl = document.getElementById('theme')
          var text = name.value ? name.value.trim() : ''
          var theme = themeEl.value || 'moebooru'
          if(!text) {
            alert('请输入标签信息')
            return
          }

          img.src = '/get/@' + text + '?theme=' + theme
        })
    
    p.copy
      a(href='https://github.com/journey-ad/Moe-counter', target='_blank', onclick='_evt_push("click", "normal", "go_github")') 获取源码（作者原版）
    p.docker-zh
      a(href='https://github.com/skyle1995/Moe-counter-docker', target='_blank', onclick='_evt_push("click", "normal", "go_github")') 获取源码（容器汉化）
